# Q1

In [ ]:
Activity	                                     Data Type


Number of beatings from Wife            	Discrete
Results of rolling a dice	                Discrete
Weight of a person	                        Continuous
Weight of Gold	                            Continuous
Distance between two places	                Continuous
Length of a leaf	                        Continuous
Dog's weight	                            Continuous
Blue Color	                                Discrete
Number of kids	                            Discrete
Number of tickets in Indian railways	    Discrete
Number of times married                  	Discrete
Gender (Male or Female)	                    Discrete

# Q2

In [ ]:
Data	                                           Data Type


Gender	                                            Nominal
High School Class Ranking	                        Nominal
Celsius Temperature	                                Interval
Weight	                                            Ratio
Hair Color	                                        Nominal
Socioeconomic Status	                            Ordinal
Fahrenheit Temperature	                            Interval
Height	                                            Ratio
Type of living accommodation                    	Nominal
Level of Agreement                                 	Nominal
IQ(Intelligence Scale)	                            Interval
Sales Figures	                                    Ratio
Blood Group	                                        Nominal
Time Of Day	                                        Ordinal
Time on a Clock with Hands	                        Ratio
Number of Children	                                Nominal
Religious Preference	                            Ratio
Barometer Pressure	                                Ratio
SAT Scores	                                        Interval
Years of Education	                                Ratio

# Q3

 total possible outcome is 8    =  {HHH,HHT,HTT,THT,TTH,HTH,THH,TTT }
                  Two heads & one tail  , 
                    x =3  ={HHT,THH,HTH}                 
                 P(x)=3/8 = 0.375

# Q4

two dice are rolled
S={(1,1),(1,2),(1,3),(1,4),(1,5),(1,6),(2,1),(2,2),(2,3),(2,4),(2,5),(2,6),(3,1),(3,2),(3,3),(3,4),(3,5),(3,6),(4,1),(4,2),(4,3),(4,4),(4,5),(4,6),(5,1),(5,2),(5,3),(5,4),(5,5),(5,6),(6,1),(6,2),(6,3),(6,4),(6,5),(6,6)}
n(S)=36
(a)A={ }
        n(A)=0
          P(B)=(n(A))/(n(S))=0/36=0

(b)B={(1,3),(2,2),(3,1)}
           n(B)=3
           P(B) = (n(B))/(n(S)) =1/12=0.083

(c)C={(1,1),(1,2),(1,3),(1,5),(2,1),(2,2),(2,4),(2,6),(3,1),(3,3),(3,5),(3,6),(4,2),(4,4),(4,5),(4,6),(5,1),(5,3),(5,4),(5,5),(6,2),(6,3),(6,4),(6,6)}
            n(C)=24
           P(C) = (n(C))/(n(S)) =24/36=2/3=0.67

# Q5

Probability(None of the ball is blue) = 5C2/7C2

   Total balls = 2+3+2 = 7

    Drawing 2 balls  out of 7 (7C2) =    7!/2!(7-2)! = 21
    Drawing 2 balls out of 5 (5C2) =   5!/2!(5-2)! = 10
Probability(None of the ball is blue) = 5C2/7C2 = 10/21 = 0.476