In [11]:
import pandas as pd

In [12]:
data = pd.read_csv(r"Cars.csv")
data.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [13]:
data.describe()

               HP        MPG         VOL          SP         WT
count   81.000000  81.000000   81.000000   81.000000  81.000000
mean   117.469136  34.422076   98.765432  121.540272  32.412577
std     57.113502   9.131445   22.301497   14.181432   7.492813
min     49.000000  12.101263   50.000000   99.564907  15.712859
25%     84.000000  27.856252   89.000000  113.829145  29.591768
50%    100.000000  35.152727  101.000000  118.208698  32.734518
75%    140.000000  39.531633  113.000000  126.404312  37.392524
max    322.000000  53.700681  160.000000  169.598513  52.997752

In [14]:
from scipy import stats
import numpy as np

In [15]:
Prob_MPG_greater_than_38 = np.round(1 - stats.norm.cdf(38, loc= data.MPG.mean(), scale= data.MPG.std()),3)
print('P(MPG>38) = ',Prob_MPG_greater_than_38)

P(MPG>38) =  0.348

In [16]:
prob_MPG_less_than_40 = np.round(stats.norm.cdf(40, loc = data.MPG.mean(), scale = data.MPG.std()),3)
print('P(MPG<40) = ',prob_MPG_less_than_40)

P(MPG<40) =  0.729

In [17]:
prob_MPG_greater_than_20 = np.round(1-stats.norm.cdf(20, loc = data.MPG.mean(), scale = data.MPG.std()),3)
print('p(MPG>20) = ',(prob_MPG_greater_than_20))

p(MPG>20) =  0.943

In [18]:
prob_MPG_less_than_50 = np.round(stats.norm.cdf(50, loc = data.MPG.mean(), scale = data.MPG.std()),3)
print('P(MPG<50) = ',(prob_MPG_less_than_50))

P(MPG<50) =  0.956

In [19]:
prob_MPG_greaterthan20_and_lessthan50= (prob_MPG_less_than_50) - (prob_MPG_greater_than_20)
print('P(20<MPG<50) = ',(prob_MPG_greaterthan20_and_lessthan50))

P(20<MPG<50) =  0.013000000000000012