In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv(r"Q7.csv", index_col=0)

In [3]:
data

                     Points  Score  Weigh
Mazda RX4              3.90  2.620  16.46
Mazda RX4 Wag          3.90  2.875  17.02
Datsun 710             3.85  2.320  18.61
Hornet 4 Drive         3.08  3.215  19.44
Hornet Sportabout      3.15  3.440  17.02
Valiant                2.76  3.460  20.22
Duster 360             3.21  3.570  15.84
Merc 240D              3.69  3.190  20.00
Merc 230               3.92  3.150  22.90
Merc 280               3.92  3.440  18.30
Merc 280C              3.92  3.440  18.90
Merc 450SE             3.07  4.070  17.40
Merc 450SL             3.07  3.730  17.60
Merc 450SLC            3.07  3.780  18.00
Cadillac Fleetwood     2.93  5.250  17.98
Lincoln Continental    3.00  5.424  17.82
Chrysler Imperial      3.23  5.345  17.42
Fiat 128               4.08  2.200  19.47
Honda Civic            4.93  1.615  18.52
Toyota Corolla         4.22  1.835  19.90
Toyota Corona          3.70  2.465  20.01
Dodge Challenger       2.76  3.520  16.87
AMC Javelin            3.15  3.435  17.30
Camaro Z28             3.73  3.840  15.41
Pontiac Firebird       3.08  3.845  17.05
Fiat X1-9              4.08  1.935  18.90
Porsche 914-2          4.43  2.140  16.70
Lotus Europa           3.77  1.513  16.90
Ford Pantera L         4.22  3.170  14.50
Ferrari Dino           3.62  2.770  15.50
Maserati Bora          3.54  3.570  14.60
Volvo 142E             4.11  2.780  18.60

In [4]:
data.mean()

Points     3.596563
Score      3.217250
Weigh     17.848750
dtype: float64

In [5]:
data.median()

Points     3.695
Score      3.325
Weigh     17.710
dtype: float64

In [6]:
data.mode()

   Points  Score  Weigh
0    3.07   3.44  17.02
1    3.92    NaN  18.90

In [7]:
data.var()

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

In [8]:
data.std()

Points    0.534679
Score     0.978457
Weigh     1.786943
dtype: float64

In [9]:
data.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [10]:
data_range = data.max()-data.min()

In [11]:
data_range

Points    2.170
Score     3.911
Weigh     8.400
dtype: float64

In [12]:
data.isnull().sum()

Points    0
Score     0
Weigh     0
dtype: int64

In [13]:
#INFERENCES

'''
The data is concentrated around a median
In this dataset there are no any null value

'''

'\nThe data is concentrated around a median\nIn this dataset there are no any null value\n\n'